body {
    width: 380px;
    height: 620px;
}
.row {
    display: flex;
}
.cell {
    width: 4em;
    height: 4em;
    margin: 0.3em;
}
.bg-light-off {
    background-color: black;
}

.bg-light-on {
    background-color: cyan;
}