
.row {
    display: flex;
}
.cell {
    width: 4em;
    height: 4em;
    margin: 0.3em;
}
.bg-light-off {
    animation: lightOff 1s linear 1 normal both;
}

.bg-light-on {
    animation: lightOn 1s linear 1 normal both;

}

@keyframes lightOn {
    0% {
        background: black;
    }
    100% {
        background: cyan;
    }
}

@keyframes lightOff {
    0% {
        background: cyan;
    }
    100% {
        background: black;
    }
}